<section>
  <h3 class="title">{{ question.question }}</h3>

  <ng-container *ngIf="guessing; else resume">
    <div *ngIf="doYouWin === undefined" class="options">
      <div class="option unknow" (click)="onGuess(true, question.correctAnswer)">
        {{ question.correctAnswer }}
      </div>
      <div class="option unknow" (click)="onGuess(false, option)" *ngFor="let option of question.incorrectAnswers">
        {{ option }}
      </div>
    </div>

    <div *ngIf="doYouWin !== undefined" class="options">
      <div class="options">
        <div class="option" [ngClass]="question.correctAnswer === answer ? 'correct' : 'muted'">
          {{ question.correctAnswer }}
        </div>
        <div class="option" [ngClass]="option === answer ? 'incorrect' : 'muted'"
          *ngFor="let option of question.incorrectAnswers">
          {{ option }}
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #resume>
    <div class="options">
      <div class="option correct">
        {{ question.correctAnswer }}
      </div>
      <div class="option" [ngClass]="option === answer ? 'incorrect' : 'muted'"
        *ngFor="let option of question.incorrectAnswers">
        {{ option }}
      </div>
    </div>
  </ng-template>
</section>