.title {
  padding: 1rem;
}

.option {
  padding: 1rem;
  background-color: var(--dropdown-border-color);
  border-radius: 4px;
  margin: 1em 0em;
}

.correct {
  background-color: forestgreen;
}

.incorrect {
  background-color: crimson;
}

.muted {
  filter: opacity(0.5);
}

.unknow:hover {
  background-color: var(--form-element-active-border-color);
  cursor: pointer;
}
