<ng-container *ngIf="song">
  <div class="row">
    <div>
      <div *ngIf="doYouWin; else youLost">
        <h2 style="margin-bottom: 0px;">YOU WIN!</h2>
      </div>
      <ng-template #youLost style="margin-bottom: 0px;">
        <h2 style="margin-bottom: 0px;">You Lost...</h2>
      </ng-template>

      <p *ngIf="winnerName; else nobody"><strong>{{ winnerName }}</strong> guess the song</p>
      <ng-template #nobody>nobody guess the song</ng-template>
    </div>
    <div>
      <app-avatar *ngIf="!doYouWin; else starIcon" [name]="winnerName"></app-avatar>
      <ng-template #starIcon><app-star-icon></app-star-icon></ng-template>
    </div>
  </div>

  <div style="margin-bottom: 1rem;">
    <h3 style="text-align: center; min-height: 300px;">
      <img src={{song.image}} alt="preview">
    </h3>
    <p><strong>Song:</strong> {{song.name}}</p>
    <p><strong>Artist:</strong> {{song.artist}}</p>
  </div>

  <h4 *ngIf="!enabledNext" style="margin-bottom: 0px">Waiting for the next song...</h4>
  <p *ngIf="!enabledNext" style="margin: 0px"><strong>{{ driverName }} </strong> plays</p>
  <button *ngIf="enabledNext" (click)="onNext()">Next Song</button>
</ng-container>