<h2>QuickGame</h2>
<hr>

<div *ngIf="rounds !== results.length; else result" style="margin: 6rem 0px;">
  <h4 style="text-align: center;">resulting</h4>
  <section aria-busy="true"></section>
</div>

<ng-template #result>
  <div *ngIf="rank.length === 0">
    <h3>No winners...</h3>
  </div>
  <div *ngFor="let user of rank; let i = index">
    <h3><strong>N°{{ i + 1 }}:</strong> {{ user.name }}</h3>
  </div>
  <br>
  <div *ngFor="let result of results; let i = index">
    <p><strong> Round {{ i + 1 }}:</strong> {{result.winerName}} >> {{ result.song.name }} ({{ result.song.artist }})
    </p>
  </div>
  <br>
  <a routerLink="">Return Home</a>
</ng-template>