<div>
  <h1>QuickGame</h1>
  <hr>
</div>
<section *ngIf="room$ | async as room">
  <h3>Players</h3>
  <p *ngFor="let user of room.users">({{user.status}}) {{user.name}}</p>
</section>
<section *ngIf="!isLoading; else loader">
  <div [hidden]="ready" *ngIf="user$ | async; else noUser">
    <button (click)="onLeave()" class="secondary">Leave lobby</button>
    <button (click)="onChangeStatus()">Ready!</button>
  </div>
  <ng-template #noUser>
    <section aria-busy="true"></section>
  </ng-template>
  <button (click)="onChangeStatus()" [hidden]="!ready" class="secondary outline">
    Cancel</button>
</section>
<ng-template #loader>
  <section aria-busy="true"></section>
</ng-template>