<div *ngIf="game$ | async as game" class="row">
  <div>
    <div *ngIf="game.doYouWin else youLost">
      <h2 style="margin-bottom: 0px;">YOU WIN!</h2>
    </div>
    <ng-template #youLost style="margin-bottom: 0px;">
      <h2 style="margin-bottom: 0px;">You Lost...</h2>
    </ng-template>

    <p>
      <span *ngIf="game.winnerName"><strong>{{ game.winnerName }}</strong></span>
      <span *ngIf="!game.winnerName">nobody</span>
      <ng-content></ng-content>
    </p>
  </div>
  <div>
    <app-avatar *ngIf="!game.doYouWin; else starIcon" [name]="game.winnerName"></app-avatar>
    <ng-template #starIcon><app-star-icon></app-star-icon></ng-template>
  </div>
</div>