<div *ngIf="room$ |async as room">
  <div *ngIf="room.scene as scene">
    <div *ngIf="scene === 'lobby'">
      <app-lobby></app-lobby>
    </div>
    <div *ngIf="scene === 'next'" class="next">
      <h4>Loading next game</h4>
      <div aria-busy="true"></div>
    </div>
    <div *ngIf="scene === 'game:info'
        || room.scene === 'game:start'
        || room.scene === 'game:run'
        || room.scene === 'game:end'">
      <app-song-guess *ngIf="room.game.props.name === 'songguess'"></app-song-guess>
      <app-game-trivia *ngIf="room.game.props.name === 'trivia'"></app-game-trivia>
    </div>
    <div *ngIf="scene === 'results'">
      <app-results></app-results>
    </div>
  </div>
</div>