<section>
  <app-messages></app-messages>
  <div class="wrapper">
    <div class="img" [style]="'background-image: url('+song.image+'); width: 300px; height: 300px'">
      <div *ngIf="loading" class="song-loader">
        <!-- <strong>loading</strong> -->
        <div aria-busy="true"></div>
      </div>
      <div class="volume">
        <i-feather *ngIf="volume === 0" name="volume-x"></i-feather>
        <i-feather *ngIf="volume > 0 && volume < 60" name="volume-1"></i-feather>
        <i-feather *ngIf="volume >= 60" name="volume-2"></i-feather>
        <input type="range" [(ngModel)]="volume" (ngModelChange)="setVolume($event)" class="volume" />
      </div>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" autocomplete="off">
    <ng-container>
      <label>Song Name</label>
      <input [(ngModel)]="guess" type="text" [disabled]="this.win" name="guess">
      <button [disabled]="this.win" type="submit">Ok</button>
    </ng-container>
  </form>
</section>