.wrapper {
  display: flex;
  justify-content: center;
  min-height: 300px;
}

.song-loader {
  width: inherit;
  height: inherit;
  background-color: black;
  display: flex;
  z-index: 0;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  filter: opacity(0.7);

  div {
    font-size: 2rem;
    color: whitesmoke;
  }
}

.volume {
  position: relative;
  top: 80%;
  left: 5%;
  width: 85%;
  display: flex;
  align-items: center;

  input {
    // width: 30px;
    // height: 30px;
    margin: 0px;
  }

  i-feather {
    width: 30px;
    height: 30px;
  }
}
