.messages {
  height: 90px;
  display: flex;
  align-items: flex-end;
  margin: 1rem 0 1rem;
  overflow: hidden;
  border: ridge var(--blockquote-border-color) 2px;
  padding: 0.2rem 0.3rem;
  border-radius: 0.1rem;

  p {
    margin: 0;
  }
}

.muted {
  color: var(--muted-color);
}
