p {
  cursor: pointer;
}

.return {
  margin-top: 16px;
}

.instructions {
  max-width: 400px;
  margin: 20% auto;
  text-align: center;

  // h2, h3, h4 {
  //   margin: 0px;
  // }

  h3 {
    font-weight: 100;
  }

  h2 {
    font-size: 3rem;
  }

  button {
    margin-top: 41px;
  }

  p {
    margin-top: 41px;
  }
}
