<ng-container *ngIf="variant === 'chosen'; else random">
  <h2>Genres</h2>
  <section *ngIf="isLoading" aria-busy="true">Loading</section>
  <div *ngIf="!isLoading">
    <p *ngIf="allGenre" (click)="selectGenre(allGenre)">All {{allGenre.name}}</p>

    <div *ngFor="let genre of genres">
      <p (click)="selectGenre(genre)">{{genre.name}}</p>
    </div>

    <div *ngIf="allGenre" class="return">
      <a (click)="onReturn()">return...</a>
    </div>
  </div>
</ng-container>

<ng-template #random>
  <div class="instructions">
    <h4>selecting</h4>
    <section aria-busy="true"></section>
  </div>
  <!-- <div style="margin: 6rem 0px;">
    <h4 style="text-align: center;">selecting</h4>
    <section aria-busy="true"></section>
  </div> -->
</ng-template>