<header *ngIf="scene !== 'game:info'">
  <h1>Song Guess</h1>
  <div *ngIf="scene === 'game:run'">
    <app-timer (finish)="onGuessSong(false)"></app-timer>
  </div>
</header>
<hr *ngIf="scene !== 'game:info'">

<div *ngIf="loading" style="text-align: center; margin: 200px 0px;">
  <div aria-busy="true"></div>
</div>

<div [hidden]="loading" class="block">
  <div>
    <div *ngIf="scene === 'game:info'">
      <app-game-info [game]="room?.game!" (ready)="onReady()">
        <ng-container *ngIf="room?.game?.props?.variant as variant">
          <ol *ngIf="variant === 'chosen'; else randomInfo">
            <li>Driver select a music genre.</li>
            <li>Driver select a music sub genre.</li>
            <li>The first to guess the song name win!</li>
          </ol>
          <ng-template #randomInfo>
            <ol>
              <li>A random song will be selected by the game.</li>
              <li>The first to guess the song name win!</li>
            </ol>
          </ng-template>
        </ng-container>
      </app-game-info>
    </div>

    <div *ngIf="scene === 'game:start'">
      <div *ngIf="isDriver; else waiting">
        <app-song-selector [variant]="room!.game!.props!.variant"
          (chooseSong)="onChooseSong($event)"></app-song-selector>
      </div>

      <ng-template #waiting>
        <div style="text-align: center; padding-top: 2rem;">
          <h3>Waiting for Genre selection</h3>
          <div style="display: flex; justify-content: center; margin: 2rem 1rem 0rem;">
            <app-avatar [name]="driverName"></app-avatar>
          </div>
          <p style="margin: 24px"><strong>{{ driverName }} </strong> choose</p>
        </div>
      </ng-template>
    </div>

    <div *ngIf="scene === 'game:run'">
      <div *ngIf="song">
        <app-song-player [song]="song" (guessSong)="onGuessSong($event)"></app-song-player>
      </div>
      <!-- <div *ngIf="resultSong && !song">
        <app-song-result [winnerId]="winnerId" [song]="resultSong" [enabledNext]="false"></app-song-result>
      </div> -->
    </div>

    <div *ngIf="scene === 'game:end'">
      <app-song-result [winnerId]="winnerId" [song]="resultSong" [enabledNext]="isDriver" (next)="onNext()">
      </app-song-result>
    </div>

  </div>
  <div>

  </div>
  <div>

  </div>
</div>