/* You can add global styles to this file, and also import other style files */
html {
  overflow-y: overlay;
}

h1, h2, h3, h4, h5 {
  margin: 25px 0;
}

p {
  margin: 0 0 8px;
}

li::marker {
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loading {
  text-align: center;
  margin: 6rem auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 688px
  }
}
