<header>
  <hr>
  <div class="row">
    <h1 routerLink="/" style="cursor: pointer;">Crananium</h1>
    <ng-container *ngIf="user$ | async as user; else menu">
      <app-avatar [name]="user.name" (click)="onClickMenu()"></app-avatar>
    </ng-container>
    <ng-template #menu>
      <p (click)="onClickMenu()" style="cursor: pointer;">(MENU)</p>
    </ng-template>
  </div>
  <div *ngIf="showDetails">
    <div *ngIf="{room: room$ | async} as state" style="padding-bottom: 1rem;">
      <span>User: <span *ngIf="user$ | async as user">{{user.name}}</span></span>
      <br>
      <span>
        Room:
        <ng-container *ngIf="state.room?.id">
          {{state.room?.id }} <span (click)="copyLink()" style="cursor: pointer;">(COPY)</span>
        </ng-container>
      </span>
      <br>
      <span>Players: {{ state.room && getPlayersNames(state.room.users) }}</span>
      <br>
    </div>
  </div>
  <hr>
</header>

<section>
  <router-outlet></router-outlet>
</section>

<footer>
</footer>