<ng-container *ngIf="room$ | async as room">
  <ng-container *ngIf="game$ | async as game">
    <header *ngIf="room.scene !== 'game:info'">
      <h1>Trivia</h1>
      <div *ngIf="room.scene === 'game:run'">
        <app-timer (finish)="onGuess({ guess: false })"></app-timer>
      </div>
    </header>
    <hr *ngIf="room.scene !== 'game:info'">

    <div *ngIf="loading" style="text-align: center; margin: 200px 0px;">
      <div aria-busy="true"></div>
    </div>

    <div [hidden]="loading" class="block">
      <div #scroll>
        <div *ngIf="room.scene === 'game:info'">
          <app-game-info [game]="room?.game!" (ready)="onReady()">
            <ng-container *ngIf="room?.game?.props?.variant as variant">
              <ol *ngIf="variant === 'chosen'; else randomInfo">
                <li>Driver select a question category.</li>
                <li>The first to guess the question answer win!</li>
                <li>You have only one chance, if you get wrong the other players can still play until times end.</li>
              </ol>
              <ng-template #randomInfo>
                <ol>
                  <li>A random question will be selected by the game.</li>
                  <li>The first to guess the question answer win!</li>
                </ol>
                <ul>
                  <li>You have only one chance, if you get wrong the other players can still play until times end</li>
                </ul>
              </ng-template>
            </ng-container>
          </app-game-info>
        </div>

        <div *ngIf="room.scene === 'game:start'">
          <div class="loading">
            <h4>selecting a question</h4>
            <div aria-busy="true"></div>
          </div>

          <!-- <div *ngIf="game.isDriver; else waiting">
            <app-song-selector [variant]="room!.game!.props!.variant"
              (chooseSong)="onChooseSong($event)"></app-song-selector>
          </div>

          <ng-template #waiting>
            <div style="text-align: center; padding-top: 2rem;">
              <h3>Waiting for Genre selection</h3>
              <div style="display: flex; justify-content: center; margin: 2rem 1rem 0rem;">
                <app-avatar [name]="driverName"></app-avatar>
              </div>
              <p style="margin: 24px"><strong>{{ driverName }} </strong> choose</p>
            </div>
          </ng-template> -->
        </div>

        <div *ngIf="room.scene === 'game:run'">
          <app-messages></app-messages>

          <div *ngIf="question !== undefined">
            <app-question [guessing]="true" [question]="question" (guess)="onGuess($event)"></app-question>
          </div>
        </div>

        <div *ngIf="room.scene === 'game:end'">
          <app-game-result>
            guess the question
          </app-game-result>

          <div *ngIf="question">
            <app-question [question]="question" [doYouWin]="game.doYouWin" [answer]="selectedAnswer"
              [winner]="game.winner">
            </app-question>
          </div>

          <ng-container *ngIf="!game.isDriver">
            <h4 style="margin-bottom: 0px">Waiting for the next game...</h4>
            <p style="margin: 0px"><strong>{{ game.driverName }} </strong> plays</p>
          </ng-container>
          <button *ngIf="game.isDriver" style="margin-top: 0rem;" (click)="onNext()">Continue</button>
        </div>

      </div>
    </div>
  </ng-container>
</ng-container>