.wrapper {
  min-height: 18rem;
  position: relative;
}

.buttons {
  position: absolute;
  margin-top: 2rem;
  padding-bottom: 2rem;
  top: 100%;
  width: 100%;
}

.settings-text {
  margin: 1rem 0rem;
  text-align: right;
  cursor: pointer;

  a {
    font-size: 0.8rem;
    padding: 0.2rem;
    width: 4rem;
  }
}

.settings {
  background-color: var(--range-border-color);
  border-radius: .5rem;
  padding: 1rem 1rem 0;
  margin-bottom: 1rem;

  p {
    font-weight: 500;
  }

  .field {
    margin-bottom: 1rem;
  }
}
