<div class="wrapper">
  <form #lobbyForm="ngForm">

    <div (click)="showSettings = !showSettings" class="settings-text">
      <!-- <small><strong>(settings)</strong></small> -->
      <a class="outline secondary">(settings)</a>
    </div>
    <div *ngIf="showSettings" class="settings">
      <fieldset>
        <p>Change driver?</p>
        <label for="frmChangeDriver">
          <input [(ngModel)]="changeDriver" #frmChangeDriver="ngModel" name="frmChangeDriver" id="frmChangeDriver"
            type="checkbox">
          Change the driver between games
        </label>
      </fieldset>

      <fieldset>
        <label for="frmGame">
          <p>Games</p>
          <details role="list">
            <summary aria-haspopup="listbox">Games</summary>
            <ul role="listbox">
              <li *ngFor="let game of games.options | keyvalue">
                <label>
                  <input [(ngModel)]="games.options[game.key]" [name]="'frmGame_'+game.key" type="checkbox">
                  {{ game.key }}
                </label>
              </li>
            </ul>
          </details>
        </label>
      </fieldset>

      <fieldset>
        <label for="frmRounds">
          <p>Rounds</p>
          <input min="1" max="99" [(ngModel)]="rounds" #frmRounds="ngModel" name="frmRounds" id="frmRounds"
            type="number">
        </label>
      </fieldset>
    </div>

    <fieldset>
      <label for="frmUsername">
        <p>Username</p>
      </label>
      <input [(ngModel)]="username" #frmUsername="ngModel" name="frmUsername" id="frmUsername" type="text" minlength="3"
        required>
    </fieldset>

    <fieldset>
      <label for="frmRoomId">
        <p>Join Game</p>
      </label>
      <input [(ngModel)]="roomId" #frmRoomId="ngModel" name="frmRoomId" id="frmRoomId" type="text" minlength="15">
    </fieldset>

    <div *ngIf="!loading; else loader" class="buttons">
      <button (click)="onJoinGame()" [disabled]="roomId.length < 1 || !frmRoomId.valid || !frmUsername.valid"
        class="secondary">Join</button>
      <button (click)="onNewGame()" [disabled]="!frmUsername.valid">New Game</button>
    </div>

    <ng-template #loader>
      <section [attr.aria-busy]="loading">Loading</section>
    </ng-template>
  </form>
</div>