<div class="info" *ngIf="game$ | async as state">
  <div class="category">
    <p>{{ state.category }}</p>
  </div>

  <h3>NEXT GAME</h3>
  <h2> {{ state.name }}</h2>
  <h4>{{ game.props.variant }}</h4>

  <div class="instructions">
    <ng-content></ng-content>
  </div>

  <button *ngIf="state.isDriver; else avatar" (click)="ready.emit()">
    Ready
  </button>

  <ng-template #avatar>
    <div class="avatar">
      <app-avatar [name]="state.driverName"></app-avatar>
    </div>
  </ng-template>


  <p><strong>{{ state.driverName }} </strong> plays</p>
</div>