.info {
  max-width: 400px;
  margin: 10% auto;
  text-align: center;

  // .category {
  //   padding: 4px;
  //   background: orange;
  //   border-radius: 8px;
  //   margin: 8px auto;
  //   max-width: 50%;

  //   p {
  //     margin: 0;
  //   }
  // }

  .instructions {
    margin: 3rem auto;
    text-align: left;
  }

  li::marker {
    font-weight: bold;
  }

  .avatar {
    display: flex;
    justify-content: center;
    margin: 2rem 1rem 0rem;
  }

  h2, h3, h4 {
    margin: 0px;
  }

  h3 {
    font-weight: 100;
  }

  h2 {
    font-size: 3rem;
  }

  button {
    margin-top: 41px;
  }

  p {
    margin-top: 41px;
  }
}
